<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/3') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <p>Name: <%= homer.name %></p>
        <p>DOB: <%= homer.dob %></p>
        <p>Profession: <%= homer.profession %></p>
        <p>Favorite Food: <%= homer.favoriteFood %></p>
        <p>Favorite Beverage: <%= homer.favoriteBeverage %></p>
        <img
          src="<%= homer.imageUrl %>"
          alt="<%= homer.name %>"
          style="max-height: 140px;"
        />
      </div>
    </div>
    <nav>
      <a href="/question2">Previous</a>
      <a href="/question4">Next</a>
    </nav>
  </div>
</body>
