<%- include('../partials/head.ejs') %> 

<%- include('../partials/questions/3') %>
<div class="box answer">
  <h3>Answer</h3>

  <ul>
    <li><%= homer.name %> </li>
    <li><%= homer.dob %> </li>
    <li><%= homer.profession %> </li>
    <li><%= homer.favoriteFood %> </li>
    <li><%= homer.favoriteBeverage %> </li>
    <li><img src="<%= homer.imageUrl %>" alt=""></li>
  </ul>
  
</div>

<%- include('../partials/endBody.ejs') %> 