<%- include('../partials/head') %>
<%- include('../partials/navigation') %> 

<div class="content">
<%- include('../partials/questions/5') %>
<div class="box answer">
  <h3>Answer</h3>
  <h3>Top 5 girls in the England and Wales</h3>
  <ol>
    <% props.popularGirlNames.forEach((name, index) => { %>
    <li><%= ++index %>. <%= name %></li>
    <% }) %>
  </ol>
</div> <!-- answer box -->
</div> <!-- content -->

<%- include('../partials/endBody') %>