<%- include('../partials/head') %>
<%- include('../partials/navigation') %> 

<div class="content">
  <%- include('../partials/questions/3') %>
  <div class="box answer">
    <h3>Answer</h3>
    <ul>
      <% for(let info in props.homer) { %>
        <% if (info === 'imageUrl') { %>
          <li><img src="<%= props.homer[info] %>" alt="Homer Simpson"></li>
        <% } else { %>
          <li><%= props.homer[info] %></li>
        <% } %>
      <% } %>
    </ul>
  </div> <!-- answer box -->
</div> <!-- content -->

<%- include('../partials/endBody') %>