<%- include('../partials/head.ejs') %>

<%- include('../partials/questions/5') %>
<div class="box answer">
  <h3>Answer</h3>
  <h3>Top 5 girls in the England and Wales</h3>
  <ol>
    <% popularGirlNames.forEach((name, index) => { %>
    <li><%= ++index %>. <%= name %></li>
    <% }) %>
  </ol>
</div>

<%- include('../partials/endBody.ejs') %>