<%- include('../partials/head') %>
<%- include('../partials/navigation') %> 

<div class="content">
  <%- include('../partials/questions/2') %>
  <div class="box answer">
    <h3>Answer</h3>    
    <p><%- props.sentence %></p> <!-- unescaped HTML -->
    <p><%= props.sentence %></p> <!--   escaped HTML -->
  </div> <!-- answer box -->
</div> <!-- content -->

<%- include('../partials/endBody') %> 
