<%- include('../partials/head.ejs') %>

<%- include('../partials/questions/2') %>
<div class="box answer">
  <h3>Answer</h3>
  <!-- render answer here -->
  <!-- Notice that the commenting inside the ejs brackets is JS. -->

  <p><%- sentence %></p> 
  <p><%= sentence %></p> <!-- escapes HTML -->

  <!-- Keep that in mind for later. Everything between those brackets IS JavaScript. -->
</div>

<%- include('../partials/endBody.ejs') %> 
